action crudOperation = create, read, update, delete;

allow {
  global none;
}

type baseHasUuid {
  allow {
    this to *;
  }
}

type person {
  group inherit boss {
    boss = boss;
    peer = peers;
  }
  allow {
    this to *;
    * to read;
  }
  policy bosses {
    property boss;
    allow only {
      // Look at using local override
      boss to *;
      // As well as the inherited-through group
      boss.peer to *;
      global to *;
    }
  }
}