action crudOperation = create, read, update, delete;

allow {
  ADMIN to *;
  * to read;
}

package thingsToProtect {
  allow only {
    ADMIN to *;
    NOBODY none;
  }
  
  type product {
    allow {
      NOBODY to read;
    }
    
    policy adminOnly {
      property notes;
      allow only {
        ADMIN to *;
      }
    }
  }
}