verb crudOperation = create, read, update, delete;

allow {
  ADMIN to *;
  NOBODY none;
}

type product {
  allow {
    NOBODY to read;
  }
  
  policy adminOnly {
    property notes;
    allow only {
      ADMIN to *;
    }
  }
}

type baseHasUuid {
  policy uuid {
    property uuid;
    allow only {
      * to read, create;
    }
  }
}

type entityMetadata {
  allow {
    * to read;
  }
}